*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    font-family: 'poppins',sans-serif;
    font-weight: bold;
}
body{
    font-family: 'Quiksand',sans-serif;
    color: rgb(46, 78, 78);
}
footer{
    text-align: left;
    font-size: large;
    color: rgb(46, 78, 78);
}
h2{
    margin-left: 40px;
}
a{
    color: white;
    font-size: x-large;
}
img{
    margin: 40px;
    width: 500px;
    height: auto;
    display: flexbox;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(46, 78, 78);
    height: 100px;
    text-align: center;
    color: white;
    font-size: xx-large;
    border-radius: 40px;
}
.articles .article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
}
.left{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 20px;
    padding-left: 100px;
}
.right{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin: 20px;
    padding: 100px;
    color: rgb(46, 78, 78);
    font-size: xx-large;
}
.social{
    color: white;
    background-color: rgb(46, 78, 78);
    padding: 60px;
    margin-top: 60px;
    text-align: center;
}